
.weather-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    padding-inline-start: 1rem;
    margin-block-start: 1rem;
}

.stats {
    color: white;
}